/* Import Font(s) here */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viga&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url('Images/bg-wardrobeManila.png');
  }

/* header section */
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.logo{
    cursor: pointer;
    width: 350px;
    height: 50px;
}

/* Main section */
.signup-form{
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.row1 li{
    display: inline-block;
    justify-content: space-between;
}
.row1 li a{
    text-decoration: none;
    color: #333333;
}
.row1 li a:hover{
    color: #F1511B;
}
.row1 ul{
    display: flex;
    justify-content: space-between;
}

#btn-signup{
    background-color: #333333;
    color: #ffffff;
    border-radius: 100px;
    margin-top: 20px;
}
#btn-signup:hover{
    background-color: #F1511B;
}
/* OR */
.line-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.line {
    flex: 1;
    height: 1px;
    background-color: #0000007b;
}

.or-text {
    font-size: x-small;
    margin: 0 10px;
    color: #0000007b;
}
/* Other Buttons */
#btn-facebook{
    background-color: #1877F2;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
}
#btn-facebook:hover{
    background-color: #1467d4;
}
#btn-google{
    border-radius: 100px;
    border: 1px solid #d8d8d8;
    font-size: 14px;

}
#btn-google:hover{
    background-color:#dbdbdb ;
}

/* form-footer */

.form-footer{
    display: flex;
    justify-content: center;
    text-align:justify;
    font-size: 14px;
    font-size: small;
    color: #0000007b;
    padding-top: 10px;
}
.form-footer a{
    text-decoration: none;
    color: #333333;
}

/* Footer section */

.footer-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: small;
    color: #0000007b;
}



/* Styles for devices smaller than 768px (e.g., smartphones) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }   

    .logo{
        cursor: pointer;
        width: 300px;
        height: 40px;
    }

    .signup-form{
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 45px;
        padding-right: 45px;
    }
}

/* Styles for devices between 768px and 991px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .signup-form{
        margin-left: 200px;
        margin-right: 200px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 35px;
        padding-right: 35px;
    }
}

/* Styles for devices between 992px and 1199px (e.g., larger tablets and small desktops) */
@media (min-width: 992px) and (max-width: 1220px) {
    .signup-form{
        margin-left: 300px;
        margin-right: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 45px;
        padding-right: 45px;
    }
}